<div class="author">
  <h1 class="author__heading">About</h1>
  <p class="author__body">This app was created to help students find the right tutors, and tutors to find the right students likewise. </p>
</div>