<div class="container">
    <img
    src="/img/smiletutor.jpg"
    alt="person looking out through window"
    width="700"
    height="400"
  />
  <h1>Welcome to SGStudent Assignments</h1>
  <p>Apply for assignment with a single click!</p>
</div>

<section class="articles">
  <h2 class="articles__heading">Latest Assignments</h2>

  <ul class="article-ul">
    <li class="assignment__list">
      <a href="/assignment">
        <div class="assignment__details">
          <span>G0506AJ</span>
          <span class="assignment__text">
            Sec 3 Express Combined Science (Chemistry/Biology) @ 478 Sembawang
            Drive
          </span>
        </div>
        <a href="/" class="btn" >Apply now!</a>
      </a>
    </li>
  </ul>
</section>
